{% extends 'base.html' %}


{% block content %}

{% include 'main/component/navbar.html' %} 
<div class="container">
	<div class = "row">
		<h1>questions.content</h1>
	</div>
	<div class = "row">
		<div class = "col-6">
		<div class="collection">
			<!-- {% for choice in questions.choice_set.all %}
           <label>
        <input name="group1" type="radio" />
        <span>{{choice.content}}</span>
      </label>
			{% endfor %}  -->
        </div>
        </div>
     </div>
</div>
 {% endblock %}